/* Top Level / Global Styles for App Component */
.App {
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  background: rgb(34,193,195);
  position: relative;
}

h1 {
  color:white;
}

/* Navbar Component ////////////////////////////////////////////////////////////////////////////////////////////*/

.navbar {
  transition: 0.5s ease;
}

.navbar-scroll {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  color: rgb(163, 0, 54);
  padding-left: 3%;
  text-align: left;
}

.navbar-brand:hover{
  color: black;
}

/* .navbar-toggler {
  color: rgb(163, 0, 54);
} */

.nav-link {
  color:whitesmoke;
  padding: 0;
  margin: 8px 10px; 
}

/* .nav-link:active {
  color:black;
} */

.nav-link-scroll {
  color:black; 
}

.nav-link:hover {
  color:rgb(163, 0, 54); 
}


/* .navbar > .active > a { 
  background-color: red; 
} */

/* .nav-item: { 
  color: red; 
} */

/* .nav-item-scroll {
  color: black; 
} */


/* .ms-auto {
  padding-right: 2%;
} */



/* Homepage / Hero component ////////////////////////////////////////////////////////////////////////////////////*/

.hero {
  padding-top: 10%;
  height: 100vh;
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg,rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
}

.pfp {
  border-radius: 50%;
  scale: 55%;
  margin: -15%;
}

.hero h1 { 
  font-size: 3.75rem;
}

.hero h2 {
  color:rgb(2, 98, 136);
  font-size: 1.75rem;
}




/* about Me Component ////////////////////////////////////////////////////////////////////////////////////////////*/

.aboutMe {
  padding: 20% 0;
  /* height: 100vh; */
  background-color: rgb(34,193,195);
  color: white;
}

.aboutMe-con {
  margin-top: 5%;
}

.aboutMe h1 {
  text-align: center;
  font-size: 3rem;
  /* color: rgba(253,187,45,1); */
  color: rgb(254, 197, 74);
}

.aboutMe p {
  font-size: 1rem;
}


/* Projects Component  //////////////////////////////////////////////////////////////////////////////////////////*/

.projects-pg {
  background-color: #4e7c7d;
  /* background-color:#edeae4; */
  /* background: rgb(2,98,136);
  background: linear-gradient(0deg, rgba(2,98,136,1) 0%, rgba(60,156,140,1) 50%, rgba(78,124,125,1) 100%); */
  padding: 20% 0;
}

.projects-pg h1 {
  text-align: center;
  font-size: 3rem;
  color: rgba(253,187,45,1);
}

.projects-container {
  padding-top: 5%;
  /* height: 100vh;   */
  /* Fix this once content expands past 100vh to prevent overflow  */
  text-align: center;
}


.project-card {
  color: black; 
  /* background-color: #82acae; */
  background-color: #eff1f1;
  border-radius: 5px;
  /* box-shadow: 0 4px 10px #548283; */
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  border-color: black;
}

.project-card h2 {
  margin: 5% 0; 
}

.projects-container p {
  text-align: left;
  margin: 5% 0; 
}

.projects-container a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  color: rgb(163, 0, 54);
}

.projects-container img {
  width: 75%;
  height: auto;
}


/* Contact Component //////////////////////////////////////////////////////////////////////////////////////////////*/

.contact-pg {
  height: 100vh;
  /* background: rgb(148,140,100);
  background: radial-gradient(circle, rgba(148,140,100,1) 0%, rgba(52,92,100,1) 100%); */
  background: rgb(60,76,76);
  background: linear-gradient(0deg, rgba(60,76,76,1) 0%, rgba(2,98,136,1) 100%);
}

.contact-pg {
  color: whitesmoke;
  text-align: center;
}

.contact-pg h1 {
  padding-top: 20%;
  text-align: center;
  font-size: 3rem;
  color: rgba(253,187,45,1);
}

.contact-pg a {
  text-decoration: none;
  color: rgba(253,187,45,1);
}

.contact-pg a:hover {
  color: rgb(163, 0, 54);
}

.contact-pg h2 {
  padding-top: 10%;
  font-size: 1.75rem;
}

.contact-pg p {
  padding-top: 10%;
  font-size: 1.5rem;
}

/* footer component ///////////////////////////////////////////////////////////////////////////////////////////*/

.footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  transition: 0.5s ease;
}

.footer-color {
  background-color: rgba(255, 255, 255, 1);
}

.footer-link {
  color: rgb(163, 0, 54);
  font-size: 1.5rem;
  margin: 1% 5%;
}

.footer a:hover {
  color: white; 
}

.footer-color a:hover {
  color: black;
}

