/* Top Level / Global Styles for App Component */
.App {
  font-family: 'Source Code Pro', monospace;
}



/* Projects Component  */

.projects-container {
  text-align: center;
  overflow: hidden;
}

.projects-container a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  color: red;
}

.projects-container img {
  width: 75%;
  height: auto;
}





